/* the navbar header component */

@font-face {
    font-family: RockWellEB;
    src: url(../fonts/ROCKEB.TTF);
}

@mixin placeholder {
    ::placeholder               {@content}
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
}
  

header.navbar {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #00a7e1;
}

a.btn.logo {
    img.logo {
        width: 34px;
        height: 39px;
        margin-right: 1.7vw;
    }

    span.logo-text {
        font-family: 'RockWellEB', cursive;
        font-size: 30.3pt;
        color: #ffffff;
        position: relative;
        bottom: 4px;
    }
}

a.btn.menu-btn {
    margin-right: 3vw;

    img {
        width: 34px;
        height: 39px;
    }
}

a.account {
    position: relative;
    right: -52px;

    img {
        width: 39px;
        height: 39px;
    }
}

img.search {
    width: 19px;
    height: 39px;
    background-color: #ffffff;
    display: inline-block;
    padding-right: 9px;
}

input.form-ctrl {
    border: 0;
    color: #333333;
    @include placeholder {
        color: #eeeeee;
        font-weight:100;
    }
    outline: 0;
    padding: 12px 20px;
}

span.search-box {
    margin-left: 3.2vw;
    margin-right: 3.2vw;
    width: 31vw;
    display: flex;
    flex-direction: row;
}

@media(max-width: 590px) {
    span.search-box {
        display: none;
    }
}

@media(max-width: 669px) {
    a.account {
        display: none;
    }
}